<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Smart::top_level" title="Smart" module="Smart_CustomOrderProcessing" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Smart_CustomOrderProcessing::smart_customorderprocessing_orderstatuslog" title="OrderStatusLog" module="Smart_CustomOrderProcessing" sortOrder="9999" resource="Magento_Backend::content" parent="Smart::top_level" action="smart/orderstatuslog/index"/>
	</menu>
</config>
